PORT=8080
MAIL_USER=
MAIL_PASS=
JWT_SECRET=
SESSION_SECRET_KEY=
TWITTER_CONSUMER_KEY=
TWITTER_CONSUMER_SECRET=
REDDIT_CLIENT_ID=
REDDIT_CLIENT_SECRET=
REDDIT_STATE=
FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=