.title {
    font-size: 100px;
}

.container{
    text-align: center;
}

.subtitle {
    font-size: 60px;
    font-weight: normal;
}

.Center {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}