.Signup {
    margin: 10% auto;
    width: 80%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 25px;
}

@media (min-width: 600px) {
    .Signup {
        width: 500px;
    }
}