.Input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;   
}

.Label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.InputElement {
    outline: none;
    border: 1px solid rgb(233, 243, 251);
    border-radius: 15px;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.InputElement:focus {
    /* outline: none; */
    background-color: rgb(17, 53, 116);
    caret-color: white;
}

.InputElement:focus::placeholder{
    color: white;
}

.Invalid {
    border: 1px solid red;
}

.ErrorMessage {
    margin-bottom: 0;
    color: #ff1010;
    font-size: 12px;
}